<nav class="navbar navbar-expand-lg bg-dark matrix-navbar px-4">
    <a class="navbar-brand matrix-link" href="/">Mudskip the Slime</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <NavLink href="/" Match="NavLinkMatch.All" class="nav-link matrix-link">Főoldal</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/login" class="nav-link matrix-link">Bejelentkezés</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/register" class="nav-link matrix-link">Regisztráció</NavLink>
            </li>
        </ul>
    </div>
</nav>
